.App {
  text-align: center;
  margin: 1px;
  padding: 10px;
}

.App-header {
  border: 1px solid blue;
  margin: auto;
}

.nav {
  border: 1px solid red; 
  justify-content: space-between;
  align-items: center;
}

.nav-items > li {
  list-style-type: none;
}

.card-box {
  padding: 2px;
  margin: 6px auto;
  
}

.card {
  border: 1px solid silver;
  box-shadow: 1px 1px 7px 1px ;
}

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: min-content auto;
    grid-template-rows: min-content;
    grid-template-areas: 'top top'
      'sidebar left'
      'main main';
    justify-items: center;
  }

  .nav {
    display: flex;
    justify-content: space-between;
  }
  .nav-items > li {
    display: flex;
  }

  .App-header {
    grid-area: top left;
  }

  .search-box {
    grid-area: top left;
  }

  .sortby-box {
    grid-area: left;
  }

  .main-display {
    list-style-type: none;
  }

  .topic {
    text-shadow: 1px 1px 1px blue;
  }
  
}


