.App {
  text-align: center;
  margin: 1px;
  padding: 10px;
}

.logo {
  text-align: left;
  color: #184e77;
  text-shadow: 3px 3px 8px;
} 

h2, h3, p {
  color: #184e77;
}

.title {
  text-align: center;
  color: #184e77;
  border: 1px solid;
  box-shadow: 4px -4px 9px;
}

.search-box {
  width: 200px;
  padding: 5px;
  margin-left: auto;
}

.sortby-box {
  padding: 5px;
  background-color: #168aad;
  color: white;
}

.sortby-boxes {
  display: flex;
  justify-content: flex-end;
}

.card-box {
  padding: 5px;
  margin: 10px;
  list-style-type: none;
}

.card {
  border: 1px solid ;
  box-shadow: 4px -4px 9px #184e77;
}

.comments-box {
  margin-right: 30px;
}

.comments {
  list-style-type: none;
  box-shadow: 4px -4px 9px #184e77;  
  margin: 10px;
  padding: 6px;
}

.comment-buttons {
  padding: 7px;
  margin: 4px;
}

button {
  padding: 7px;
  background-color: #168aad;
  color: white;
  border-radius: 20px;
}

@media only screen and (min-width: 768px) {
  .App {
    display: grid;
    grid-template-columns: 20% auto;

  }

  .logo {
    text-align: left;
    color: #184e77;
    text-shadow: 3px 3px 8px;
  } 
}


